<template>
  <main class="dashboard">
    <List v-for="list in lists" :key="list._id" :list="list" :createList="addList"/>
    <button class="btn btn-createList" @click="openModal">create list</button>
    <Modal @get-data-lists="addList" @close-modal="(isOpenModal =!isOpenModal)" type-modal="lists" v-if="isOpenModal"/>
  </main>
</template>

<script>
// @ is an alias to /src
import {mapState, mapActions} from 'vuex'
import List from '@/components/List';
import Modal from '@/components/Modal'

export default {
  name: 'Home',
  components: {
    List,
    Modal
  },
  data() {
    return {
      isOpenModal: false,
    };
  },
  computed: {
    ...mapState('Lists', ['lists'])
  },
  methods: {
    ...mapActions('Lists', ['getListsDataAC', 'addListsData']),
    addList(list) {
      let data = {
        ...list,
      }

      this.addListsData(data);
      this.isOpenModal = false;
    },
    openModal() {
      this.isOpenModal = !this.isOpenModal;
    }
  },
  mounted() {
    if(this.lists.length === 0) this.getListsDataAC();
  },
};
</script>

<style>
.dashboard {
  overflow: scroll;
  display: flex;
  justify-content: flex-start;
  background-color: aqua;
  padding: 15px;
  align-items: flex-start;
}
  .btn {
    min-width: 150px;
    max-height: 30px;
    font-size: 16px;
    margin-top: 15px;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: white;
  }
</style>
