<template>
    <div class="list" id="list.id">
      <h2>{{list.title}}</h2>
      <draggable id="first" :list="list.cards" group="lists">
        <div class="card" v-for="element in list.cards" :key="element.id">
          <h3>{{element.title}}</h3>
          <p>{{element.description}}</p>
        </div>
        <button class="btn btn-addTask" slot="footer" @click.prevent="openModal">Add</button>
      </draggable>
      <Modal @get-data-tasks="addTask" @close-modal="closeModal" :idList="list._id" type-modal="tasks" v-if="isOpenModal"></Modal>
    </div>
</template>

<script>
import draggable from 'vuedraggable';
import Modal from "@/components/Modal";

export default {
  name: 'List',
  components: {
    Modal,
    draggable
  },
  data() {
    return {
      isTasks: '',
      idList: null,
      isOpenModal: false
    }
  },
  props: ['list'],
  methods: {
    openModal() {
      this.isOpenModal = true;
    },
    closeModal() {
      this.isOpenModal = false;
    },
    addTask(data, idList) {
      console.log(idList)
      this.$store.dispatch('Lists/addCardToList', {...data, idList})
      this.closeModal()
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  .list {
    max-width: 300px;
    min-width: 300px;
    background-color: #2c3e50;
    margin: 15px;
    padding: 15px;
    color: white;
    position: relative;
  }
  #first {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .card {
    width: 100%;
    max-width: 200px;
    background-color: white;
    color: #2c3e50;
    margin: 10px;
    cursor: grab;
  }
  .card:active {
    cursor: grabbing;
  }
  .card p {
    word-break: break-all;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }
  .btn-addTask {
    width: 100%;
    position: absolute;
    bottom: -20px;
  }
</style>
