<template>
  <div :class="['modal', {'close-modal': isClose}]">
    <div class="model_content">
      <div class="modal_header">
        <h2>Card</h2>
        <button class="btn-close" @click.prevent="closeModal">close</button>
      </div>
      <div class="modal_body">
        <label for="title"> Title </label>
        <input v-model="title" type="text" name="title" id="title" placeholder="Title name">
        <label for="description"> Description </label>
        <textarea style="margin-top: 10px" v-model="description" placeholder="Description" v-if="typeModal === 'tasks'"/>
      </div>
      <div class="modal_footer">
        <button class="btn btn-confirm" @click.prevent="addData">add</button>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props:['typeModal', 'idList'],
    data() {
      return {
        title: null,
        description: null,
        isClose: true,
      }
    },
    methods: {
      closeModal() {
        console.log(this.isClose)
        this.$emit('close-modal');
        return this.isClose = !this.isClose;
      },
      addData() {
        let data = {
          title: this.title,
        };
        if (this.typeModal === 'tasks'){
          data.description = this.description;
        }

        this.$emit('get-data-'+this.typeModal, data, this.idList)
      }
    }
  }
</script>

<style>
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  .modal.close-modal {
    display: block;
  }
  /* Modal Content */
  .model_content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    max-width: 400px;
  }

  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  /* The Close Button */
  .btn-close {
    color: black;
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    top: 26%;
    right: 0;
    margin-right: 4px;
    border: none;
    background-color: transparent;
  }

  .btn-close:hover,
  .btn-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .modal_header {
    display: block;
    position: relative;
    padding: 2px 16px;
    background-color: aqua;
    color: white;
  }

  .modal_body {
    margin: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 115px;
    justify-content: space-between;
  }

  .modal_footer {
    padding: 2px 16px;
    background-color: aqua;
    color: white;
  }

</style>
